<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>Document</title>
</head>

<body>
    <div class="container my-2">
        <div class="d-flex">
            <div class="me-auto">Members</div>
            <a class="btn btn-sm btn-primary shadow" href="add/">Add Member</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for member in members %}
                <tr>
                    <td>{{member.id}}</td>
                    <td>{{member.first_name}}</td>
                    <td>{{member.last_name}}</td>
                    <td>
                        <a class="btn btn-sm btn-info shadow" href="update/{{member.id}}"><i
                                class="fa-solid fa-pen-to-square"></i> </a>
                    </td>
                    <td>
                        <a class="btn btn-sm btn-danger shadow" href="delete/{{member.id}}"><i
                                class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>